body{
    background-color: #B8DBD9;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin-left:50px;
    margin-right:50px;
    text-align: center;
    position: relative;

}
ul{
    background-color: #2F4550;
    color:white;
    text-align: justify;
    font-weight: 400;
    font-size: 100%;
    margin-left: 120px;
    margin-right: 120px;
    text-align:center;
    float: left;

}
.notfloat{
    background-color: #2F4550;
    color:white;
    text-align: justify;
    font-weight: 400;
    font-size: 100%;
    margin-left: 120px;
    margin-right: 120px;
    text-align:center;
    float: none;
}
ol{
    background-color: #2F4550;
    color:white;
    text-align: justify;
    font-weight: 400;
    font-size: 100%;
    margin-left: 120px;
    margin-right: 120px;
    text-align:center;



}
li{
    font-size: 150%
}
H1{
    background-color: #FFFFFF;
    border-left: 20px #2F4550 solid;
    border-right: 20px #2F4550 solid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;

    
}
h3{
    background-color: #2F4550;
    color:white;
    text-align: center;
    font-size: 200%;
    margin-left: 75px;
    margin-right: 75px;
  
}
h5{
    background-color: #2F4550;
    color:white;
    text-align: center;
    font-size: 120%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 75px;
}
p{
    background-color: #2F4550;
    color:white;
    text-align: center;
    font-size: 220%;
    margin-top: 70px;
}
img{
    margin:auto;
}
a{
    color:white;
    text-align: center;
}
input{
    text-align: left;
    font-size: 150%;
    margin-right:  100 px;

}
h2{
    font-size: 225%;
    margin-bottom: 0%;
    text-decoration-line: underline;
}
.title{
    float: left;
}
.pic{
    float: right;
}
